DATABASE_HOST=xxxx
DATABASE_PORT=xxxxx
DATABASE_USER=xxxxx
DATABASE_PASSWORD= xxxxx
DATABASENAME=xxxxx


RABBITMQ_USER=xxxxx
RABBITMQ_PASSWORD=xxxxx
RABBITMQ_PORT=xxxxx
RABBITMQ_HOST=xxxxx
RABBITMQ_QUEUE=xxxxx